@page
@model sample.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}

<div class="text-center">
    <h6 class="display-4">Hello Guys Please Contact Devops Gang if you have any doubts....</h6>

    <br/>
    <br/>
    <p>Please Contact US <a href="">Contact Mail ID: devopsgang.bsr9@gmail.com</a>.</p>
</div>
