@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Hello Guys Welcome to the DevOps Gang....</h3>

    <br />
    <br />
    <p>Follow me on: <a href="https://github.com/rishiranjan10">  Github</a>.</p>

    <div class="container">
        <div class="row justify-content-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rishi Ranjan</td>
                        <td>30</td>
                        <td>Male</td>
                        <td>DevOps with Python</td>
                    </tr>
                    <tr>
                        <td>Rajesh</td>
                        <td>28</td>
                        <td>Male</td>
                        <td>DevOps with Reactjs</td>
                    </tr>
                    <tr>
                        <td>Surya</td>
                        <td>28</td>
                        <td>Male</td>
                        <td>DevOps with Java</td>
                    </tr>
                    <tr>
                        <td>Venkat</td>
                        <td>28</td>
                        <td>Male</td>
                        <td>SAS With Python</td>
                    </tr>
                    <tr>
                        <td>Sree</td>
                        <td>26</td>
                        <td>FeMale</td>
                        <td>SOC</td>
                    </tr>
                    <tr>
                        <td>Radha</td>
                        <td>28</td>
                        <td>FeMale</td>
                        <td>SOC</td>
                    </tr>
                    <tr>
                        <td>Deekshith</td>
                        <td>27</td>
                        <td>Male</td>
                        <td>Mulesoft</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
